.featured_item {
    position:relative;
}

.featured_item a {
    position:absolute;
    width:100%;
    bottom:0px;
    text-decoration: none;
    right:0px;
    background-color: rgba(97, 97, 97, 0.63);
}

.featured_image {
    height:330px;
    background-color: #545b62d1;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.featured_caption {
    color:#ffffff;
    top:0px;
    width:100%;
    padding:20px;
    font-weight:300;
    font-size:28px;
    box-sizing: border-box;
}