.footer {
    margin-top: 20px;
    background: #63b1f1;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height:20px;
    padding:10px;
}

.right {
    flex-grow: 1;
    color:#fff;
    font-size: 12px;
}